{% extends "base.html" %}
{% load url from future %}

{%load  i18n  %}
{%block body%}


<div id="home" data-role="page" class="page" data-dom-cache="true">

<div data-role="header" data-position="fixed" data-theme="b">
	<h1>{%trans 'Blog'%}</h1>
	<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
	<a href="/" data-icon="search" data-iconpos="notext" data-rel="dialog" data-transition="fade">Search</a>
</div>

<div data-role="content">
<div >
  {%if user.is_authenticated%}
  <div>{%trans 'Hello' %} 
	{%if not user.first_name and not user.last_name%}
	{{user.username}}
	{%else%}
	{{user.first_name}} {{user.last_name}}
	{%endif%}  
	<a data-ajax='false'  href='/logout/'>{%trans 'Logout' %}</a></div>
  {% else %}
  <sub>{%trans 'Login with:'%}</sub>
	<a title="{%trans 'Login/Register with your Google account'%}"
 		data-ajax='false' rel="nofollow" href="/login/google-oauth2/">Google</a></li>
    <a title="{%trans 'Login/Register with your Facebook account'%}" 
    	data-ajax='false' rel="nofollow" href="/login/facebook/">Facebook</a>
  {% endif %}
</div><!--/social-icons--> 
	
<h3>{%trans 'Latest Posts'%}</h3>
<div>
<ul data-role="listview" data-filter="true" data-filter-placeholder="Search" data-filter-theme="d"data-theme="d" data-divider-theme="d">	
	
	<li data-role="list-divider"><span class="ui-li-count">{%trans 'Latest Posts'%}</span></li>
	{%for e in entries%}
	<li><a href='/blog/entry/{{e.slug}}/' >
			<h3>{{e.title}}</h3>
			<p><strong>{{e.author}}</strong></p>
			<p>{{e.body|truncatewords:30}}</p>
			<p class="ui-li-aside"><strong>{{e.created_date}}</strong></p>
		
	</a></li>
	{%endfor%}
</ul>
</div>
</div><!-- /content -->			
{%include 'menu.html' %}
</div><!-- /page home-->
{%endblock body%}
